Screen {
    layout: vertical;
}

#client_list {
    width: 30%;
    border: solid #444;
    padding: 1;
    height: 100%;
}

#shell_log {
    height: 85%;
    border: solid green;
    padding: 1;
}

#cmd_input {
    height: 3;
    border: solid gray;
    background: black;
    color: green;
}
